GenomicsFigures/Data/Genomics/*
GenomicsFigures/Processed_data/*
GenomicsFigures/Figures/*
GenomicsFigures/*.pdf
.snakemake/*
.snakemake
DrugScreeningFigures/Data/Screens/*
DrugScreeningFigures/Figures/GR50/*
DrugScreeningFigures/Figures/GRAOC/*
DrugScreeningFigures/Figures/GREC50/*
DrugScreeningFigures/Figures/*
DrugScreeningFigures/*.pdf
DrugScreeningFigures/Processed_data/* 
*.pdf
*/.*.swp
